{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 41.155199485161816,
        "longitude": -4.486413002014161,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Casa",
        "time_zone": "Europe/Madrid",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}